body{
     background: lightblue;
}

#moving_bar {
                    background-color: rgba(100, 100, 100, 0);
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    }


a{
color: #000000;
text-decoration: none
}


.pagination td{
        padding: 0px 15px;
        border: none;
        background: OrangeRed;
}




