<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
    {% load staticfiles %}

    <script type="text/javascript" src = "{% static 'assets/js/jquery.min.js' %} "></script>
    <script type="text/javascript" src = "{% static 'js/highcharts/highcharts.js' %} "></script>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/basic.css'%}">

</head>

<body>
<div id="moving_bar">
    <button type="button" id="hide_button"> Toggle chart</button>
    <div id = 'chart'> </div>
</div>

<table>
    <th colspan="9">Report from {{report.date|date:"d-m-Y H:i" }} to {{end_date|date:"d-m-Y H:i"}} ({{report.interval}} hours)</th>
<tr>
    <th> id </th>
    <th> protocol </th>
    <th> remote host </th>
    <th> remote port </th>
    <th> local host </th>
    <th> local port </th>
    <th> count </th>
    <th> interesting </th>
    <th> prev occurrences </th>
</tr>

    {% for freq_item in reports_fitemsets %}
<tr onclick="paint{{freq_item.0.id}}();">
    <td> <a href="javascript:;" >{{freq_item.0.id}} </a></td>
    <td title="number of same occurrences with no protocol: {{freq_item.2.same_without_protocol}} "> {{freq_item.0.protocol}} </td>
    <td title="number of same occurrences with no remote host: {{freq_item.2.same_without_remote_host}} "> {{freq_item.0.remote_host}} </td>
    <td title="number of same occurrences with no remote port: {{freq_item.2.same_without_remote_port}} "> {{freq_item.0.remote_port}} </td>
    <td> {{freq_item.0.local_host}} </td>
    <td title="number of same occurrences with no local port: {{freq_item.2.same_without_local_port}} "> {{freq_item.0.local_port}} </td>
    <td title="number of same occurrences with no count: {{freq_item.2.same_without_count}} "> {{freq_item.0.count}} </td>
    <td title="number of same occurrences with no interesting: {{freq_item.2.same_without_interesting}} "> {{freq_item.0.interesting}} </td>
    <td> <span id='{{freq_item.0.id}}'>{{freq_item.1}} </span> </td>
</tr>
    {% endfor %}
</table>

<script>
$(window).scroll(function(){
  $("#moving_bar").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginLeft":($(window).scrollLeft()) + "px"}, "slow" );});
</script>

{% for id,occurrence in occurrences.items %}
<script>
function paint{{id}}(){
window.lastChart='paint{{id}}'
$('#chart').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'occurrences {{id}}'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            minRange: 14 * 24 * 3600000 // fourteen days
        },
        yAxis: {
            title: {
                text: 'number of occurrences'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    enabled: false
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'occurrences',
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC({{occurrence.start_date.year}}, {{occurrence.start_date.month}}, {{occurrence.start_date.day}}),
            data: {{occurrence.data}}
        }]
    })
}
</script>

{% endfor %}

<script>
    $('#hide_button').click(function() {
    $('#chart').slideToggle();
    var fn = window[window.lastChart];
    fn();
});
</script>
<script>
    $(document).tooltip({
        items:"[title]",
        content: function(){
            var element = $(this);
            if( element.is("[title]") ){
                return element.attr("title");
            }
        }
    }
</script>
</body>
</html>