<!DOCTYPE html>
<html>
<head>

</head>
<body bgcolor="lightblue">
<table border="1" align="center" cellpadding="4" cellspacing="0" bgcolor="orange" bordercolor="darkblue">
    <td align="center" colspan="7"> <font size="5">  </font></td>
<tr>
    <th align="center"> id </th>
    <th align="center"> nr of same without protocol </th>
    <th align="center"> nr of same without remote host </th>
    <th align="center"> nr of same without remote port </th>
    <th align="center"> nr of same without local port </th>
    <th align="center"> nr of same without count </th>
    <th align="center"> nr of same without interesting </th>
</tr>

<tr>
    <td align="center"> {{fitem.id}} </td>
    <td align="center"> {{fitem.same_without_protocol}} </td>
    <td align="center"> {{fitem.same_without_remote_host}} </td>
    <td align="center"> {{fitem.same_without_remote_port}} </td>
    <td align="center"> {{fitem.same_without_local_port}} </td>
    <td align="center"> {{fitem.same_without_count}} </td>
    <td align="center"> {{fitem.same_without_interesting}} </td>
</tr>

</table>

</body>
</html>